@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');

body{
    font-family: 'Anek Telugu', sans-serif;

}
.font{
    font-size: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

 .content-section {
    margin-bottom: 125px;
} 

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shop-item {
    margin: 30px;
}

.shop-item-images{
    height: 350px;
    width: 350px;
}

.display-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fixed{
    height: 500px;
    width: 460px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.iimages{
    height: 200px;
    width: 200px;
    margin: 5px;
}

.pack-size{
    margin: 35px 0px;
}
.heading{
font-weight: bold;
}

#btn1{
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;  
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 70px;
    width: 70px;
    margin: 10px 0px;
  }

#btn1:active,
.active{
  top: 2px;
  left: 1px;
  box-shadow: none;
  background-color: lightgreen;
  color: white;
}

#btn2{
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;  
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 70px;
    width: 70px;
    margin: 10px 0px;
}

#btn2:active,
.active{
  top: 2px;
  left: 1px;
  box-shadow: none;
  background-color: lightgreen;
  color: white;
}


#payable{
    background-color: rgb(8 127 175);
    color: white;
    height: 30px;
    border-radius: 25px;
    font-size: 17px;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    border: none;
}

.total{
    color: lightgreen;
    font-weight: bolder;
    font-size: larger;
}
#inc,#dec{
    border-radius: 5px;
    
}

